.site-header {
    background-color: rgb(217, 240, 133);
    color: rgb(141, 84, 8);
    height: 100vh;
    font-family:monospace;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.site-header-text{
    margin: 10px;
}
.profile-pic { 
    border-radius: 40%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: rgb(62, 158, 126) 2px 5px 5px;
}
.youtube-link {
    color: rgb(214, 153, 73);
    font-family:monospace;   

}

body{
    margin: 0px;
}